@import "node_modules/modern-normalize/modern-normalize.css";

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
}
.section {
  padding: 94px;
}
.wrapper {
  height: 80px;
  width: 1600px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}
.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #2196f3;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

.menu-styling {
  background-color: #ffffff;

  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.studio-styling {
  color: black;
}
.menu {
  margin-left: 93px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  list-style: none;
  display: inline-flex;
}
.menu .link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  list-style: none;
  color: #212121;
  text-decoration: none;
  display: block;
  padding: 10px;
  margin: 0;
}
.link {
  text-decoration: none;
  padding: 46px;
}
.link:hover {
  color: #2196f3;
}
.link:focus {
  color: #2196f3;
}
.link:active {
  color: #2196f3;
}
.link:visited {
  text-decoration: none;
}

.contact-data {
  color: #757575;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  display: inline-flex;
  padding-top: 32px;
  margin-left: 227px;
}
.contact-data .link {
  color: #757575;
  display: block;
  padding: 10px;
  margin: 0;
}
.link:hover {
  color: #2196f3;
}

.link:focus {
  color: #2196f3;
}
.link:active {
  color: #2196f3;
}
.link:visited {
  text-decoration: none;
}
.first-background {
  background-color: #2f303a;
  color: #ffffff;
  padding-top: 200px;
  height: 600px;
  width: 1600px;
  left: 0px;
  top: 80px;
  border-radius: 0px;
}
.button {
  background-color: #2196f3;
  color: #ffffff;

  border-radius: 4px;
  border-color: #2196f3;

  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  display: flex;
  justify-content: center;
}
.main-styling {
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
}

.first-part {
  background-color: #ffffff;
}
.list-styling {
  list-style: none;
  display: flex;
}
.text-header {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #212121;
}
.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
  width: 270px;
  height: 75px;
  padding-right: 22px;
  display: inline-flex;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.picture-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  display: flex;
  align-self: center;
}

.image-styling {
  display: inline-flex;
  padding-left: 30px;
}
.team-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
}
.second-part {
  background-color: #f5f4fa;
  height: 648px;
  width: 1600px;
  left: 0px;
  top: 1449px;
  border-radius: 0px;
}

.person-box {
  background-color: #ffffff;
  width: 270px;
  height: 368px;
}

.name-position {
  display: flex;
  justify-content: space-around;
}

.name-styling {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 59px;
  display: block;
  justify-content: baseline;
}
.job-position {
  height: 108px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  padding-inline: 99px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.footer {
  background-color: #2f303a;
  height: 252px;
  width: 1600px;
  left: 0px;
  top: 2097px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.studio-styling-second {
  color: #ffffff;
}
.contact-footer:hover {
  color: #2196f3;
}
.adress {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
  font-style: normal;
}
.contact-footer {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff99;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.button-portfolio {
  color: #212121;
  background-color: #f5f4fa;
  fill: solid;
  height: 50px;
  width: 200px;
  left: 723px;
  top: 404px;
  border-radius: 4px;
  border-color: #f5f4fa;
  cursor: pointer;

  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
}
.button-port > button {
display: flex;
flex-direction: row;
justify-content: space-around;
}

.button-portfolio:hover {
  background-color: #2196f3;
  color: #ffffff;
}
.button-portfolio:focus {
  background-color: #2196f3;
  color: #ffffff;
}
